<% content_for :title, "Dashboard / Quest" %>
<div class="dashboard">
<div class="background"></div>
    <div class="overlay"></div>
	<div class="foreground">
		<div class="nav">
			<div class="left">
				<a href="/">
					<p class="logo">Quest</p>
				</a>
			</div>
			<div class="right">
                <%= link_to "Sign Out", signout_path, class: "cta no-underline" %>
			</div>
		</div>
        <div class="categories section">
            <p class="header">🔖 Your Categories</p>
            <div class="categories-container">
                <button class="category-card" onclick="window.location.href='/today'">
                    <p class="icon">⛅</p>
                    <p class="label">Today</p>
                </button>
                <% @categories.each do |category| %>
                    <button class="category-card" onclick="window.location.href='<%= category_path(category) %>'">
                        <p class="icon"><%= category.icon %></p>
                        <p class="label"><%= category.title %></p>
                    </button>
                <% end %>
                <button class="category-add" onclick="window.location.href='<%= new_category_path %>'">
                    <p class="icon primary">+</p>
                    <p class="label">Add Category</p>
                </button>
            </div>
        </div>
    </div>
</div>