<% content_for :title, "Sign up for Quest / Quest" %>
<% content_for :description, "New to Quest? Sign up now to manage and categorize your tasks." %>
<div class="signup">
  <div class="background"></div>
  <div class="overlay"></div>
	<div class="foreground">
    <p class="icon">
      <a href="/" class="primary no-underline">🎯 Quest</a>
    </p>
    <p class="prompt">Sign up for Quest</p>
    <div class="form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      
        <% resource.errors.full_messages.each do |msg| %>
            <p class="notice-float"><%= msg %></p>
        <% end %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autocomplete: "email", onfocus: "this.parentNode.classList.add('focus')", onfocusout: "this.parentNode.classList.remove('focus')" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "new-password", onfocus: "this.parentNode.classList.add('focus')", onfocusout: "this.parentNode.classList.remove('focus')" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirm Password" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", onfocus: "this.parentNode.classList.add('focus')", onfocusout: "this.parentNode.classList.remove('focus')" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign Up" %>
        </div>
      <% end %>
    </div>
    <%= link_to "Log In", new_user_session_path, class: "escape" %>
  </div>
</div>
