<%= form_with(model: task) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.datetime_select :due_date %>
  </div>

  <div class="field">
    <%= form.label :is_checked %>
    <%= form.check_box :is_checked %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
