<%= form_with(model: [@category, task]) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, onfocus: "this.parentNode.classList.add('focus')", onfocusout: "this.parentNode.classList.remove('focus')" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, onfocus: "this.parentNode.classList.add('focus')", onfocusout: "this.parentNode.classList.remove('focus')", rows: 5 %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_field :due_date, onfocus: "this.parentNode.classList.add('focus')", onfocusout: "this.parentNode.classList.remove('focus')" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>

<% if @task.errors.any? %>
  <% @task.errors.each do |error| %>
    <p class="notice-float"><%= error.full_message %></p>
  <% end %>
<% end %>
