<% content_for :title, "Tasks / Quest" %>
<div class="dev">
<h4>Tasks</h4>
  <div class="counts">
    <p>Today: <%= @tasks.where(created_at: Time.current.beginning_of_day..Time.current.end_of_day).count %></p>
    <p>This Week: <%= @tasks.where(created_at: Time.current.beginning_of_week..Time.current.end_of_week).count %></p>
    <p>This Month: <%= @tasks.where(created_at: Time.current.beginning_of_month..Time.current.end_of_month).count %></p>
    <p>All Time: <%= @tasks.count %></p>
  </div>
  <div class="details">
    <table>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
        <th>Due Date</th>
        <th>Is Checked</th>
        <th colspan="3"></th>
      </tr>
      <% @tasks.last(1000).reverse.each do |task| %>
      <tr id="task_<%= task.id %>">
        <th><%= task.id %></th>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.task.title %></td>
        <td><%= task.due_date %></td>
        <td><%= task.is_checked %></td>
        <td><%= link_to 'View', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

