<% content_for :title, "#{ @task.title } / Quest" %>
<div class="task-view">
  <div class="background"></div>
  <div class="overlay"></div>
  <div class="foreground">
    <div class="nav">
      <div class="left">
        <a href="/">
          <p class="logo">Quest</p>
        </a>
      </div>
      <div class="right">
        <%= link_to "Sign Out", signout_path, class: "cta no-underline" %>
        <%= link_to "Dashboard", dashboard_path, class: "sub-cta no-underline" %>
      </div>
    </div>
    <div class="tasks section">
        <p class="header">🎯 Task Details</p>
        <div class="tasks-container">
          <div id="<%= "task_#{ @task.id }" %>" class="task-card">
              <p class="due_date">Due: <%= @task.due_date.strftime("%B %d, %Y") %></p>
              <p class="title">
                <%= link_to toggle_task_path(task_id: @task.id) do %>
                  <input type="checkbox" name="status" class="status" <%= 'checked' if @task.is_checked %>>
                <% end %> <%= @task.title %>
              </p>
              <p class="description"><%= @task.description %></p>
          </div>
        </div>
        <div class="actions">
          <%= link_to "Edit Task", edit_category_task_path(@task, category_id: @category.id), class: "cta no-underline" %>
          <%= link_to "Delete Task", category_task_path(@task, category_id: @category.id), method: :delete, class: "escape", data: { confirm: 'Are you sure?' } %>
          <%= link_to "Back", category_path(@task.category), class: "escape" %>
        </div>
    </div>
  </div>
</div>