<% content_for :title, "Forgot Password / Quest" %>
<div class="password">
  <div class="background"></div>
  <div class="overlay"></div>
	<div class="foreground">
    <p class="icon">
      <a href="/" class="primary no-underline">🎯 Quest</a>
    </p>
    <p class="prompt">Forgot Password</p>
    <div class="form">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", onfocus: "this.parentNode.classList.add('focus')", onfocusout: "this.parentNode.classList.remove('focus')" %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions" %>
        </div>
      <% end %>
    </div>
    <%= link_to "Cancel", root_path, class: "escape" %>
  </div>
</div>
