<% content_for :title, "Log in to Quest / Quest" %>
<% content_for :description, "Welcome back to Dormo. Log in now to view and manage your tasks." %>
<div class="login">
  <div class="background"></div>
  <div class="overlay"></div>
	<div class="foreground">
    <p class="icon">
      <a href="/" class="primary no-underline">🎯 Quest</a>
    </p>
    <p class="prompt">Log in to Quest</p>
    <div class="form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
        <% resource.errors.full_messages.each do |msg| %>
            <p class="notice-float"><%= msg %></p>
        <% end %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", onfocus: "this.parentNode.classList.add('focus')", onfocusout: "this.parentNode.classList.remove('focus')" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", onfocus: "this.parentNode.classList.add('focus')", onfocusout: "this.parentNode.classList.remove('focus')" %>
        </div>

        <div class="actions">
          <%= f.submit "Log In" %>
        </div>
      <% end %>
    </div>
    <%= link_to "Forgot Password?", new_user_password_path, class: "escape" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "escape" %>
    <% unless session[:omniauth] %>
    <div class="omniauth">
      <p class="header"><span>OR</span></p>
      <%= link_to "<i class='fab fa-facebook'></i> Continue with Facebook".html_safe, user_facebook_omniauth_authorize_path, method: :post, id: "facebook" %>
      <%= link_to "<i class='fab fa-google'></i> Continue with Google".html_safe, user_google_omniauth_authorize_path, method: :post, id: "google" %>
      <%= link_to "<i class='fab fa-twitter'></i> Continue with Twitter".html_safe, user_twitter_omniauth_authorize_path, method: :post, id: "twitter" %>
      <%= link_to "<i class='fab fa-github'></i> Continue with GitHub".html_safe, user_github_omniauth_authorize_path, method: :post, id: "github" %>
    </div>
    <% end %>
  </div>
</div>
