<% content_for :title, "Log in to Quest / Quest" %>
<% content_for :description, "Welcome back to Dormo. Log in now to view and manage your tasks." %>
<div class="login">
  <div class="background"></div>
  <div class="overlay"></div>
	<div class="foreground">
    <p class="icon">
      <a href="/" class="primary no-underline">🎯 Quest</a>
    </p>
    <p class="prompt">Log in to Quest</p>
    <div class="form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
        <% resource.errors.full_messages.each do |msg| %>
            <p class="notice-float"><%= msg %></p>
        <% end %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", onfocus: "this.parentNode.classList.add('focus')", onfocusout: "this.parentNode.classList.remove('focus')" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", onfocus: "this.parentNode.classList.add('focus')", onfocusout: "this.parentNode.classList.remove('focus')" %>
        </div>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
    </div>
    <%= link_to "Forgot Password?", new_user_password_path, class: "escape" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "escape" %>
    <%= button_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
  </div>
</div>
